
/*
celeste clarito #299FE5
celeste mas clarito #2EB1FF
oscuro #0B2C40
medio #17597F
medio mas claro #2285BF
*/
html{
  font-family: 'Arvo', serif;
}
a{
  text-decoration: none;
  color: #353bb2;
}
a:hover{
  opacity: 0.5;
}
.title{
  text-transform: uppercase;
  text-align: center;
}

.container{
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}
.content{
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0,16), 0 3px 6px rgba(0,0,0,0,23);
  max-width: 960px;
  max-height: 500px;
  width: 100%;
  height:100%;
  position:relative;
  padding: 1.8em;
}
.actions{
  position: absolute;
  top:1em;
  right:1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  font-weight: 300;
  box-shadow: 0 3px 6px black;
  cursor:pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}
#botonsito{
  background-color: blue;
}
.subrayados{
  font-size:50px;margin-left:400px;margin-right:auto;
}
.table{
  width: 100%;
  border-spacing:0;
}
.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){
  background-color: #d9f9f7;
}
.fa-star{
  color:#ffc400;
}
.foto-mama{
  margin-right: 1em;
  height: 250px;
  width: 250px;
  float:left;
}
.title-item{
  border-bottom : 3px solid #17597F;
  padding-bottom: 20px;
}
.direccion{
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
.position{
  background-color: #0B2C40;
  color:white;
  padding: 10px;
  border-radius: 2em;
  margin-right: 0.5em;
}
